<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/assetsCP/images/favicon.ico"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/assetsCP/css/bootstrap.min.css">
  <!-- Typography CSS -->
  <link rel="stylesheet" href="/assets/assetsCP/css/typography.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="/assets/assetsCP/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/assets/assetsCP/css/responsive.css">
  <link rel="stylesheet" href="/assets/assetsCP/css/line-awesome.min.css">
  <link rel="stylesheet" href="/assets/assetsCP/css/preview-image.css">
  <link href="/assets/toastie/dist/css/iziToast.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">

</th:block>