<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/assetsCP/js/jquery.min.js"></script>
  <script src="/assets/assetsCP/js/popper.min.js"></script>
  <script src="/assets/assetsCP/js/bootstrap.min.js"></script>
  <!-- Appear JavaScript -->
  <script src="/assets/assetsCP/js/jquery.appear.js"></script>
  <!-- Countdown JavaScript -->
  <script src="/assets/assetsCP/js/countdown.min.js"></script>
  <!-- Counterup JavaScript -->
  <script src="/assets/assetsCP/js/waypoints.min.js"></script>
  <script src="/assets/assetsCP/js/jquery.counterup.min.js"></script>
  <!-- Wow JavaScript -->
  <script src="/assets/assetsCP/js/wow.min.js"></script>
  <!-- Apexcharts JavaScript -->
  <script src="/assets/assetsCP/js/apexcharts.js"></script>
  <!-- Slick JavaScript -->
  <script src="/assets/assetsCP/js/slick.min.js"></script>
  <!-- Select2 JavaScript -->
  <script src="/assets/assetsCP/js/select2.min.js"></script>
  <!-- Owl Carousel JavaScript -->
  <script src="/assets/assetsCP/js/owl.carousel.min.js"></script>
  <!-- Magnific Popup JavaScript -->
  <script src="/assets/assetsCP/js/jquery.magnific-popup.min.js"></script>
  <!-- Smooth Scrollbar JavaScript -->
  <script src="/assets/assetsCP/js/smooth-scrollbar.js"></script>
  <!-- lottie JavaScript -->
  <script src="/assets/assetsCP/js/lottie.js"></script>
  <!-- am core JavaScript -->
  <script src="/assets/assetsCP/js/core.js"></script>
  <!-- am charts JavaScript -->
  <script src="/assets/assetsCP/js/charts.js"></script>
  <!-- am animated JavaScript -->
  <script src="/assets/assetsCP/js/animated.js"></script>
  <!-- am kelly JavaScript -->
  <script src="/assets/assetsCP/js/kelly.js"></script>
  <!-- am maps JavaScript -->
  <script src="/assets/assetsCP/js/maps.js"></script>
  <!-- am worldLow JavaScript -->
  <script src="/assets/assetsCP/js/worldLow.js"></script>
  <!-- Style Customizer -->
  <script src="/assets/assetsCP/js/style-customizer.js"></script>
  <!-- Chart Custom JavaScript -->
  <script src="/assets/assetsCP/js/chart-custom.js"></script>
  <!-- Custom JavaScript -->
  <script src="/assets/assetsCP/js/custom.js"></script>
  <script src="/assets/toastie/dist/js/iziToast.min.js"></script>
  <script src="/assets/assetsCP/js/AppBase.js"></script>
  <script src="/assets/jquery/jquery.validate-1.19.5.min.js"></script>
  <script src="/assets/sweetalert2/sweetalert2@11.js"></script>

</th:block>
