<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreateProduct">
   <!-- Modal -->
   <div class="modal fade" id="modalCreateProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
<!--            <div class="spinner-border text-success"></div>-->

            <div class="modal-body">
               <form id="frmCreateProduct">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="row">
                           <div class="form-group col-lg-12">
                              <label for="nameProductCre" class="col-form-label">Product Name</label>
                              <input id="nameProductCre" name="nameProductCre"
                                     type="text"
                                     class="form-control"
                                     placeholder="Nhập tên sản phẩm.">
                           </div>
                        </div>
                        <div class="loaderModal hide">
                           <div id="loadingModal"></div>
                        </div>
                        <div class="row">
                           <div class="form-group col-lg-6">
                              <label for="priceCre" class="col-form-label">Price</label>
                              <input id="priceCre" name="priceCre"
                                     type="number"
                                     min="100000"
                                     max="999999999"
                                     class="form-control"
                                     placeholder="Nhập giá.">

                           </div>
                           <div class="form-group col-md-6">
                              <label for="quantityCre" class="col-form-label">Quantity</label>
                              <input id="quantityCre" name="quantityCre"
                                     type="number"
                                     min="1"
                                     max="999999"
                                     class="form-control"
                                     placeholder="Nhập số lượng.">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="categoryCre" class="col-form-label">Category</label>

                              <select id="categoryCre" name="categoryCre"
                                     class="form-control"
                              >
                                 <th:block th:each="item: ${categories}">
                                    <option th:text="${(item.id) + ' - ' + item.title}" th:value="${item.id}">

                                    </option>
                                 </th:block>
                              </select>

                           </div>
                        </div>

                        <div class="row">
                           <div class="form-group col-lg-12">
                              <label for="descriptionCre" class="col-form-label">Description</label>
                              <textarea id="descriptionCre" name="descriptionCre"
                                        class="form-control"
                                        rows="6"
                                        placeholder="Nhập miêu tả sản phẩm."></textarea>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <section>
                           <div class="wrapper-images">
                              <div class="image-preview">
                                 <canvas id="canvasCre"></canvas>
                              </div>
                              <div class="content" style="opacity: 1;">
                                 <div class="icon">
                                    <i class="ion ion-md-cloud-upload"></i>
                                 </div>
                                 <div class="text">
                                    Chưa có tệp nào được chọn!
                                 </div>
                                 <div class="text">
                                    Dung lượng tối đa = 2MB
                                 </div>
                              </div>
                              <div class="clear-image-preview">
                                 <i class="fas fa-times"></i>
                              </div>
                              <div class="file-name">
                                 Sửa ảnh
                              </div>
                           </div>
                           <input type="file" id="imageFileCre" accept="image/jpeg, image/png" hidden="">
                        </section>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button id="btnCreate" type="button" class="btn btn-info" >
                  <div class="loading-button hide">
                     <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                     <span class="sr-only">Loading...</span>
                  </div>

                  <i class="ion ion-md-checkmark"></i> Create
               </button>
            </div>
         </div>
      </div>
   </div>
</th:block>